body {
    background-image: url('img/background1.jpg');
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #1d1c1c; /* Branco */
}

.profile img { /* Foto do perfil */
    position: absolute; /* Posicionamento fixo para manter a imagem no mesmo local ao rolar a página */
    top: 30px; /* Distância do topo */
    right: 120px; /* Distância da direita */
    z-index: 9999; /* Imagem esteja acima de outros elementos */
    width: 400px; /* Largura da imagem */
    height: 400px; /* Proporção da imagem */
    border-radius: 50%; /* Formato circular */
    border: 5px solid #dad9f3; /* Adiciona uma borda azul claro com largura de 5 pixels */
}


/* Estilos para o alinhamento dos itens */
.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 70px; /* Margem superior para afastar os itens do topo */
}

header {
    display: flex;
    flex-direction: column;
}

h2, h1, h3 {
    margin: 0;
}

h2, h1 {
    align-self: flex-start;
}

h1 {
    font-size: 60px;
    color: white;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 24px;
}

.navsocials {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0; /* Define a largura total da div */
    text-align: center; /* Centraliza os elementos filho horizontalmente */
}

.navsocials ul li a:hover img {
    filter: grayscale(100%) brightness(1000%) sepia(80%) hue-rotate(200deg); /* Aplica uma cor azul ao ícone */
    transform: scale(1.6); /* Aumenta o tamanho do ícone */
    transition: transform 0.3s; /* Adiciona uma transição suave para a mudança de tamanho */
}



.navsocials ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block; /* Para que o texto centralize corretamente */
}

.navsocials ul li {
    display: inline;
    margin-right: 10px;
}

.navsocials ul li img {
    width: 50px;
    height: auto;
    position: absolute; /* Posicionamento fixo para manter a imagem no mesmo local ao rolar a página */
top: 450px; /* Distância do topo */
right: 350px; /* Distância da direita */
z-index: 9999; /* Garante que a imagem esteja acima de outros elementos */
width: 50px; /* Define a largura da imagem */
height: 50px; /* Mantém a proporção da imagem */
}

/* Primeira imagem */
.navsocials ul li:nth-child(1) img {
    top: -25px; /* Distância do topo */
    left: 520px; /* Distância da borda esquerda */
}

/* Segunda imagem */
.navsocials ul li:nth-child(2) img {
    top: -25px; /* Distância do topo */
    left: 600px; /* Distância da borda esquerda */
}

/* Terceira imagem */
.navsocials ul li:nth-child(3) img {
    top: -25px; /* Distância do topo */
    left: 680px; /* Distância da borda esquerda */
}


.projetos {
    margin-top: 150px; /* Distância do topo */
    margin-right: 450px;
    display: flex; /* Usa flexbox para centralizar verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Alinha os elementos em uma coluna */
}


.projetos section {
    margin-bottom: 40px;
}

footer {
    text-align: center;
    margin-top: 40px;
}

