body {
    background-image: linear-gradient(to bottom, rgba(103, 111, 136, 0.8), rgba(63, 59, 59, 0.5));
    background-size: cover; 
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #1d1c1c; 
    overflow-x: hidden;
}


/* PROFILE IMAGE */
.profile img { 
    position: absolute; 
    top: 5%; /* Distância do topo em relação à altura do viewport */
    right: 4%; /* Distância da direita em relação à largura do viewport */
    z-index: 9999; 
    width: 20%; /* Largura em relação à largura do viewport */
    max-width: 400px; /* Largura máxima da imagem */
    height: auto; /* Altura automática para manter a proporção */
    border-radius: 50%; 
    border: 0.2em solid #dad9f3; /* Adiciona uma borda azul claro com largura de 0.5em */
    overflow-x: hidden;
}

.profile img.hover {
    display: none; /* Inicialmente oculta a imagem de perfil no hover */
}

.profile:hover img.normal {
    display: none; /* Quando o mouse está sobre a div, a imagem normal é ocultada */
}

.profile:hover img.hover {
    display: inline-block; /* Quando o mouse está sobre a div, a imagem de hover é exibida */
}



/* GITHUB - LINKEDIN - CV */
.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 7vh; /* Margem superior em relação à altura da viewport */
}

header {
    display: flex;
    flex-direction: column; 
}

.navsocials {
    position: absolute;
    top: 9vh; /* Distância do topo em relação à altura da viewport */
    right: 0;
    left: 18%; /* Define a largura total da div */
    text-align: center; /* Centraliza os elementos filho horizontalmente */
}

.navsocials ul li a:hover img {
    filter: grayscale(100%) brightness(1000%) sepia(80%) hue-rotate(200deg); /* Aplica uma cor azul ao ícone */
    transform: scale(1.6); /* Aumenta o tamanho do ícone */
    transition: transform 0.3s; /* Adiciona uma transição suave para a mudança de tamanho */
}

.navsocials ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navsocials ul li {
    display: inline-block; /* Alterado para inline-block para que os itens fiquem em linha */
    margin-right: 1.4vw; /* Distancia entre os ícones */
}

.navsocials ul li img {
    width: 5vw; /* Largura responsiva em relação à largura da viewport */
    height: auto; /* Altura automática para manter a proporção */
}


h1 {
    font-size: 6vw; /* Tamanho de fonte responsivo em relação à largura da viewport */
    color: white;
    margin-right: 20%; /* Margem direita para alinhar à direita */
}

h2 {
    font-size: 5vw; /* Tamanho de fonte responsivo em relação à largura da viewport */
    margin-right: 15%; /* Margem direita para alinhar à direita */
}

h3 {
    font-size: 2vw; /* Tamanho de fonte responsivo em relação à largura da viewport */
    margin-right: 10%; /* Margem direita para alinhar à direita */
}

h2, h1, h3 {
    margin: 0;
}

/* MEDIAQUERY NAVSOCIALS */
@media screen and (max-width: 768px) {
    .navsocials ul li:nth-child(1) img {
        left: 10vw; /* Nova posição para a primeira imagem em telas menores */
    }
    .navsocials ul li:nth-child(2) img {
        left: 20vw; /* Nova posição para a segunda imagem em telas menores */
    }
    .navsocials ul li:nth-child(3) img {
        left: 30vw; /* Nova posição para a terceira imagem em telas menores */
    }
}



h4 {
    text-align: left; /* Alinha o texto à esquerda */
    max-width: 90%; /* Define uma largura máxima para o texto */
    padding: 1%; /* Adiciona um espaçamento interno ao redor do texto */
    font-size: 1.5vw; /* Define o tamanho da fonte responsivo em relação à largura da viewport */
    margin-right: auto; /* Alinha o texto mais à direita possível */
    margin-left: -1%; /* Define uma margem esquerda para dispositivos maiores */
    margin-top: -3vh; /* Define uma margem superior responsiva em relação à altura da viewport */
}

/* MEDIAQUERY h4 */
@media screen and (max-width: 768px) {
    h4 {
        font-size: 3vw; /* Ajusta o tamanho da fonte para dispositivos menores */
        margin-left: 2%; /* Define uma margem esquerda menor para dispositivos menores */
        margin-top: 3vh; /* Define uma margem superior menor para dispositivos menores */
    }
}


footer {
    text-align: center;
    margin-top: 40px;
}










.projetos {
    width: 130%;
    margin-top: 7vh; /* 10% da altura da viewport para o espaço no topo */
    text-align: justify;
}

.projetos section {
    padding: 2vh 10%; /* Espaçamento vertical / espaçamento horizontal */
    
}

.projetos h3,
.projetos h4 {
    font-size: 3vh; /* 4% da altura da viewport para o tamanho da fonte (para h3) e 2% para h4 */
    color: #000000;
    margin-left: -08%; /* Margem esquerda */
    margin-right: 28%; /* Margem direita */
}


.carrossel {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    overflow-x: auto; /* Adiciona uma barra de rolagem horizontal se os cards excederem a largura da tela */
}




.containerU {
    width: 100%; /* Largura dos contêineres dos cards */
    margin-bottom: 5vh; /* Espaçamento inferior entre os cards */
    white-space: nowrap; /* Evita que os cards quebrem para a linha seguinte */
    overflow-x: hidden; /* Remove a barra de rolagem horizontal */
}

.containerU img {
    width: 20%; /* Largura das imagens */
    display: inline-block; /* Exibe as imagens lado a lado */
    margin-right: 5%; /* Espaçamento entre as imagens */
}

.containerU img:last-child {
    margin-right: 0; /* Remove a margem direita da última imagem */
}























/* INICIO: ICONES DENTRO DO RODAPÉ FINAL */
.footersocials {
    position: absolute;
    bottom: -110%; /* Distância do rodapé */
    right: 1%; /* Distância da direita */
}
.footersocials a { 
    display: contents;
    margin-left: 4%; /* Espaço entre os ícones */
}

.footersocials img {
    width: 5%; /* Largura dos ícones */
    height: auto; 
}

.footersocials img:hover {
    transform: scale(1.3); /* Ao passar o mouse */
}


/* Media queries para tornar a página responsiva */
/* Tablets e dispositivos móveis em orientação retrato */
@media only screen and (max-width: 768px) {
    .footersocials {
        bottom: 5px;
        right: 5px;
    }
    .footersocials a { 
        margin-left: 2vw;
    }
    .footersocials img {
        width: 8vw;
    }
}

/* Smartphones em orientação retrato */
@media only screen and (max-width: 480px) {
    .footersocials {
        bottom: 3px;
        right: 3px;
    }
    .footersocials a { 
        margin-left: 1vw;
    }
    .footersocials img {
        width: 10vw;
    }
}
/* FIM: ICONES DENTRO DO RODAPÉ FINAL */
